# Django
DEBUG=True
SECRET_KEY=your-secret-key-here

# Database (MySQL)
DB_NAME=devboard_db
DB_USER=root
DB_PASSWORD=your-db-password-here
DB_HOST=localhost
DB_PORT=3306

# Redis
REDIS_CACHE_URL=redis://127.0.0.1:6379/1 # Cache
REDIS_BROKER_URL=redis://127.0.0.1:6379/0 # Celery

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password-here
DEFAULT_FROM_EMAIL=DevBoard <noreply@devboard.com>

# Logging (optional, these are the defaults)
APP_LOG_LEVEL=DEBUG
DJANGO_LOG_LEVEL=INFO
API_LOG_LEVEL=INFO
ERROR_LOG_LEVEL=ERROR